

.start__title{
    display: flex;
    justify-content: center;
    margin: 0;
     text-align: center;
}



.Startlink{
    display: flex;
    justify-content: center;
    height: 24px;
}

.start__text{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}